stages:
  - build
  - test
  - load-testing
  - deploy

variables:
  IMAGE_TAG: registry.gitlab.com/younessboumlik/backend:latest
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

  MYSQL_ROOT_PASSWORD: pass
  MYSQL_DATABASE: myshopdb
  MYSQL_USER: testuser
  MYSQL_PASSWORD: pass
  MYSQL_HOST: db
  MYSQL_PORT: 3306

cache:
  paths:
    - .m2/repository/

# =====================
# BUILD = COMPILATION
# =====================
build-backend:
  stage: build
  image: maven:3.9.3-eclipse-temurin-17
  script:
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - target/*.jar
    expire_in: 1 week
  only:
    - main
    - develop
    - merge_requests

# =====================
# TEST = (INCHANGÉ)
# =====================
test-backend:
  stage: test
  image: maven:3.9.3-eclipse-temurin-17
  services:
    - name: mysql:8.1
      alias: db
  variables:
    MYSQL_HOST: db
    MYSQL_PORT: 3306
  before_script:
    - apt-get update && apt-get install -y default-mysql-client
    - echo " Waiting for MySQL..."
    - >
      until mysqladmin ping -h db -u$MYSQL_USER -p$MYSQL_PASSWORD --silent;
      do
        echo "MySQL not ready yet...";
        sleep 2;
      done
    - echo "MySQL is ready ✔"
  script:
    - mvn -Dspring.profiles.active=test clean test
  artifacts:
    when: always
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
    paths:
      - target/surefire-reports/
    expire_in: 1 week
  dependencies:
    - build-backend
  only:
    - main
    - develop
    - merge_requests

load-test-job:
  stage: load-testing
  image: justb4/jmeter:latest
  services:
    - name: mysql:8.1
      alias: db
  dependencies:
    - build-backend
  script:
    # Installation JRE pour lancer le backend
    - apt-get update && apt-get install -y openjdk-17-jre
    # Lancement du backend en tâche de fond
    - java -jar target/*.jar --spring.profiles.active=test --spring.datasource.url=jdbc:mysql://db:3306/myshopdb &
    - sleep 40
    # Exécution du test de charge (Load Test)
    - jmeter -n -t src/test/jmeter/myshop_full_test.jmx -l results.jtl
    # Vérification du seuil acceptable (Taux d'erreur < 1% recommandé par le cours)
    - |
      if grep -q "false" results.jtl; then 
        echo "ÉCHEC : Le seuil de performance ou de stabilité n'est pas respecté !"
        exit 1
      fi
  artifacts:
    when: always
    paths:
      - results.jtl
# =====================
# DEPLOY = DOCKER IMAGE
# =====================
deploy-backend:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  script:
    - docker build -t $IMAGE_TAG .
    - docker push $IMAGE_TAG
  dependencies:
    - test-backend
  only:
    - main
